
.editorview-wrapper {
    border: 1px solid rgba(92, 92, 92, 0.6);
    box-shadow: 0 0 8px rgba(92, 92, 92, 0.5);
    border-radius: 6px;
    background: #f8f8ff;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  
  .editorview-wrapper.fullscreen {
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    z-index: 1005;
  }
  
  .editorview-wrapper.fullscreen > div > .ProseMirror {
    min-height: 78vh;
    max-height: 78vh;
    max-width: 100vw;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
  .editorview-wrapper > div > .ProseMirror {
    min-height: 350px;
    max-height: 65vh;
  }
  
  .ProseMirror {
    position: relative;
    word-wrap: break-word;
    white-space: pre-wrap;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    background: white;
    overflow: auto;
    counter-reset: prosemirror-footnote;
    padding: 4px 8px 4px 14px;
    line-height: 1.2;
    outline: none;
  }
  
  .prose-statusbar {
    display: inline-block;
    border-top: 1px solid silver;
    padding: 8px 10px;
    font-size: 12px;
    color: #959694;
    text-align: right;
    width: 100%;
  }
  
  .status-message {
    margin-left: 20px;
  }
  
  .docinfo {
    animation: focus-in 3s;
    float: left;
  }
  
  .ProseMirror h1 {
    color: #2e4468;
    font-size: 26pt;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .ProseMirror h2 {
    font-size: 20pt;
    color: #3c763d;
    font-weight: 600;
  }
  
  .ProseMirror h3 {
    font-size: 18pt;
    color: #2e4468;
    font-weight: 600;
  }
  
  .ProseMirror h4 {
    font-size: 15pt;
    color: #ca5800;
    font-weight: 600;
  }
  
  .ProseMirror h5 {
    font-size: 12pt;
    font-weight: 600;
  }
  
  .ProseMirror table {
    border: 1px solid #dee2e6;
  }
  
  .ProseMirror table th,
  .ProseMirror table td {
    padding: 0.2rem;
    border: 1px solid #dee2e6;
  }
  
  .ProseMirror pre {
    white-space: pre-wrap;
  }
  
  .ProseMirror li {
    position: relative;
  }
  
  .ProseMirror-hideselection *::selection {
    background: transparent;
  }
  
  .ProseMirror-hideselection *::-moz-selection {
    background: transparent;
  }
  
  .ProseMirror-hideselection {
    caret-color: transparent;
  }
  
  .ProseMirror-selectednode {
    outline: 2px solid #8cf;
  }
  
  /* Make sure li selections wrap around markers */
  
  li.ProseMirror-selectednode {
    outline: none;
  }
  
  li.ProseMirror-selectednode::after {
    content: "";
    position: absolute;
    left: -32px;
    right: -2px;
    top: -2px;
    bottom: -2px;
    border: 2px solid #8cf;
    pointer-events: none;
  }
  
  .ProseMirror-textblock-dropdown {
    min-width: 3em;
  }
  
  .ProseMirror-menu {
    margin: 0 -4px;
    line-height: 1;
  }
  
  .ProseMirror-tooltip .ProseMirror-menu {
    width: -webkit-fit-content;
    width: fit-content;
    white-space: pre;
  }
  
  .ProseMirror-menuitem {
    margin-right: 3px;
    display: inline-block;
  }
  
  .ProseMirror-menuseparator {
    border-right: 1px solid #ddd;
    margin-right: 3px;
  }
  
  .ProseMirror-menu-dropdown,
  .ProseMirror-menu-dropdown-menu {
    font-size: 90%;
    white-space: nowrap;
  }
  
  .ProseMirror-menu-dropdown {
    vertical-align: 1px;
    cursor: pointer;
    position: relative;
    padding-right: 15px;
  }
  
  .ProseMirror-menu-dropdown-wrap {
    padding: 1px 0 1px 4px;
    display: inline-block;
    position: relative;
  }
  
  .ProseMirror-menu-dropdown::after {
    content: "";
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid currentColor;
    opacity: 0.6;
    position: absolute;
    right: 4px;
    top: calc(50% - 2px);
  }
  
  .ProseMirror-menu-dropdown-menu,
  .ProseMirror-menu-submenu {
    position: absolute;
    background: white;
    color: #666;
    border: 1px solid #aaa;
    padding: 2px;
  }
  
  .ProseMirror-menu-dropdown-menu {
    z-index: 15;
    min-width: 6em;
  }
  
  .ProseMirror-menu-dropdown-item {
    cursor: pointer;
    padding: 2px 8px 2px 4px;
  }
  
  .ProseMirror-menu-dropdown-item:hover {
    background: #f2f2f2;
  }
  
  .ProseMirror-menu-submenu-wrap {
    position: relative;
    margin-right: -4px;
  }
  
  .ProseMirror-menu-submenu-label::after {
    content: "";
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid currentColor;
    opacity: 0.6;
    position: absolute;
    right: 4px;
    top: calc(50% - 4px);
  }
  
  .ProseMirror-menu-submenu {
    display: none;
    min-width: 4em;
    left: 100%;
    top: -3px;
  }
  
  .ProseMirror-menu-active {
    background: #eee;
    border-radius: 4px;
  }
  
  .ProseMirror-menu-disabled {
    opacity: 0.3;
  }
  
  .ProseMirror-menu-submenu-wrap:hover .ProseMirror-menu-submenu,
  .ProseMirror-menu-submenu-wrap-active .ProseMirror-menu-submenu {
    display: block;
  }
  
  .ProseMirror-menubar {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    position: relative;
    color: #666;
    font-size: 20px;
    padding: 1px 6px;
    margin: 4px;
    opacity: 0.8;
    z-index: 10;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: visible;
  }
  
  .ProseMirror-icon {
    display: inline-block;
    vertical-align: -2px; /* Compensate for padding */
    padding: 2px 8px;
    cursor: pointer;
  }
  
  .ProseMirror-menu-disabled.ProseMirror-icon {
    cursor: default;
  }
  
  .ProseMirror-icon svg {
    fill: currentColor;
    height: 1em;
  }
  
  .ProseMirror-gapcursor {
    display: none;
    pointer-events: none;
    position: absolute;
  }
  
  .ProseMirror-gapcursor::after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    width: 20px;
    border-top: 1px solid black;
    animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
  }
  
  @keyframes ProseMirror-cursor-blink {
    to {
      visibility: hidden;
    }
  }
  
  .ProseMirror-focused .ProseMirror-gapcursor {
    display: block;
  }
  
  /* Add space around the hr to make clicking it easier */
  
  .ProseMirror-example-setup-style hr {
    padding: 2px 10px;
    border: none;
    margin: 1em 0;
  }
  
  .ProseMirror-example-setup-style hr::after {
    content: "";
    display: block;
    height: 1px;
    background-color: silver;
    line-height: 2px;
  }
  
  .ProseMirror ul,
  .ProseMirror ol {
    padding-left: 30px;
  }
  
  .ProseMirror blockquote {
    font-size: 22px;
    padding: 10px 20px;
    margin: 0px 0px 20px;
    border-left: 5px solid lightgray;
    background-color: rgb(238, 238, 238);
  }
  
  .ProseMirror-example-setup-style img {
    cursor: default;
  }
  
  .ProseMirror-prompt {
    background: white;
    padding: 5px 10px 5px 15px;
    border: 1px solid silver;
    position: fixed;
    border-radius: 3px;
    z-index: 11;
    box-shadow: -0.5px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .ProseMirror-prompt h5 {
    margin: 0;
    font-weight: normal;
    font-size: 100%;
    color: #444;
  }
  
  .ProseMirror-prompt input[type="text"],
  .ProseMirror-prompt textarea {
    background: #eee;
    border: none;
    outline: none;
  }
  
  .ProseMirror-prompt input[type="text"] {
    padding: 0 4px;
  }
  
  .ProseMirror-prompt-close {
    position: absolute;
    left: 2px;
    top: 1px;
    color: #666;
    border: none;
    background: transparent;
    padding: 0;
  }
  
  .ProseMirror-prompt-close::after {
    content: "âœ•";
    font-size: 12px;
  }
  
  .ProseMirror-invalid {
    background: #ffc;
    border: 1px solid #cc7;
    border-radius: 4px;
    padding: 5px 10px;
    position: absolute;
    min-width: 10em;
  }
  
  .ProseMirror-prompt-buttons {
    margin-top: 5px;
    display: none;
  }
  
  #editor,
  .editor {
    background: white;
    color: black;
    background-clip: padding-box;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    margin-bottom: 23px;
  }
  
  .ProseMirror p:first-child,
  .ProseMirror h1:first-child,
  .ProseMirror h2:first-child,
  .ProseMirror h3:first-child,
  .ProseMirror h4:first-child,
  .ProseMirror h5:first-child,
  .ProseMirror h6:first-child {
    margin-top: 10px;
  }
  
  .ProseMirror p {
    margin-bottom: 1em;
  }
  
  /* stylelint-disable selector-type-no-unknown */
  
  footnote {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  footnote::after {
    content: counter(prosemirror-footnote);
    vertical-align: super;
    font-size: 75%;
    counter-increment: prosemirror-footnote;
  }
  
  .ProseMirror-hideselection .footnote-tooltip *::selection {
    background-color: transparent;
  }
  
  .ProseMirror-hideselection .footnote-tooltip *::-moz-selection {
    background-color: transparent;
  }
  
  .footnote-tooltip {
    cursor: auto;
    position: absolute;
    left: -30px;
    top: calc(100% + 10px);
    background: silver;
    padding: 3px;
    border-radius: 2px;
    width: 500px;
  }
  
  .footnote-tooltip::before {
    border: 5px solid silver;
    border-top-width: 0px;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: -5px;
    left: 27px;
    content: " ";
    height: 0;
    width: 0;
  }
  
  .comment {
    background-color: #ff8;
  }
  
  .currentComment {
    background-color: #fe0;
  }
  
  .commentList,
  .commentText {
    display: block;
    padding: 0;
    margin: 0;
  }
  
  .tooltip-wrapper {
    display: inline-block;
    position: relative;
    width: 0;
    overflow: visible;
    vertical-align: bottom;
  }
  
  .ProseMirror ul.commentList {
    font-family: "Source Sans Pro";
    width: 15em;
    position: absolute;
    top: calc(100% + 8px);
    left: -2em;
    font-size: 1rem;
    color: black;
    background: white;
    font-weight: normal;
    border: 1px solid #888;
    border-radius: 5px;
    z-index: 10;
    padding: 0;
  }
  
  ul.commentList::before {
    border: 5px solid #888;
    border-top-width: 0px;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: -5px;
    left: calc(2em - 6px);
    content: " ";
    height: 0;
    width: 0;
  }
  
  li.commentText {
    padding: 2px 20px 2px 5px;
    position: relative;
    pointer-events: auto;
    margin: 0;
  }
  
  li.commentText + li.commentText {
    border-top: 1px solid silver;
  }
  
  .commentDelete {
    position: absolute;
    right: 0;
    border: 0;
    font: inherit;
    display: inline;
    color: inherit;
    background: transparent;
    cursor: pointer;
  }
  
  .commentDelete:hover {
    color: #f88;
  }
  .ProseMirror.ProseMirror-example-setup-style {
    min-height: 600px;
    border: 1px solid #ccc;
  }